* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: url(./img.jpg) no-repeat center;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 80px;
  background-color: #2020f4;
}
.navbar h1 {
  color: #fff;
  font-size: 35px;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin: 0 20px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: bold;
}
ul li a:hover {
  color: #fc0;
}

ul li .active {
  color: #fc0;
}
.navbar-search input {
  padding: 7px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.navbar-search input:focus {
  outline-color: #fc0;
}
